<div class="border rounded mx-4">
  <div class="container mb-4"><br>
    <div class="container-users">
      <div><h1>Пользователи</h1></div>
      <div>
        <div class="btn-group mx-4" role="group">
          <%= link_to "Отчет по активности полььзователей", users_control_user_activity_report_path, class: "btn btn-outline-secondary mt-2" %>
          <%= link_to ".pdf", '/users_control/user_activity_report.pdf', class: "btn btn-outline-secondary btn mt-2" %>
        </div>
      </div>
    </div>
    <br>
    <% if current_user&.admin? %>
      <%= form_with url: users_control_index_path, method: :get do |f| %>
        <div class="search-form">
          <div class="input-group">
            <%= f.text_field :search, class: "form-control", placeholder: "Поиск" %>
            <%= f.submit "Поиск", class: "btn btn-outline-secondary search" %>
          </div>
        </div>
      <% end %>
      <table class="table table-hover">
        <tr>
          <th class="bg-transparent">#</th>
          <th class="bg-transparent">Имя пользователя</th>
          <th class="bg-transparent">Электронная почта</th>
          <th class="bg-transparent">Роль</th>
          <th class="bg-transparent"></th>
        </tr>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td class="bg-transparent"> <%= user.id %></td>
            <td class="bg-transparent"><%= user.username %></td>
            <td class="bg-transparent"><%= user.email %></td>
            <td class="bg-transparent"><%= user.role %></td>
            <td class="bg-transparent text-end"> <%= button_to "Удалить аккаунт", users_control_path(user.id), method: :delete, data: { confirm: "Вы уверены что хотите удалить аккаунт?", turbo_confirm: "Вы уверены что хотите удалить аккаунт?" }, class: "btn btn-danger list-button" %></td>
          </tr>
        <% end %>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @users %><div>
        <%= render partial: 'users_control/dropdown_pag' %></div>
      </div>
    <% end %>
  </div>
</div>
