<div class="border rounded mx-4">
  <div class="container mb-4">
    <br>
      <h1>Отчет по активности пользователей</h1>
      <br>
      <h2>Активность просмотров видеоконтента</h2>
      <% @daily_views.each do |view_date, views_count| %>
        <p><%= view_date %>: <%= views_count %> просмотров</p>
      <% end %>
    <br>
    <h2>Метрики по активности посещаемости веб-приложения</h2>
    <div class="d-flex justify-content-around popularity-report">
      <table class="table">
        <tr>
          <th>Пользователь</th>
          <th>Время прибывания <br>в веб-приложении</th>
        </tr>
        <% @user_sessions.reverse.each do |user_id, data| %>
          <tr>
            <td><%= User.find(user_id).email %></td>
            <td><%= time_format(data[:total_time].round(2)) %></td>
          </tr>
        <% end %>
      </table>
      <div class="mx-4"><br>
        <h4>Количество пользователей посетивших веб-приложение: <%= @user_activity[:visited] %><h4>
        <h4>Количество пользователей не посещающих веб-приложение: <%= @user_activity[:not_visited] %><h4>
      </div>
    </div>
  </div>
</div>
