
<div class="container mp-4 form-shadow">
  <h2 class="text-center">Переслать инструкци разблокировки</h2><br>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="input-group mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Почта", class: "form-control"  %>
    </div>

    <div class="actions">
      <%= f.submit "Переслать", class: "btn btn-primary form-button", class: "btn btn-primary form-button" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= render "users/shared/links" %>
  </div>
</div>
