<%= form_with url: videos_path, method: :get do |f| %>
  <div class="filter-container">
    <div>
      <%= f.collection_select :tag_id,
                              Tag.all,
                              :id,
                              :tag_name,
                              { prompt: "Тэг", selected: "", disabled: "" },
                              { class: "form-control",
                                placeholder: "Выбор тега" } %>
    </div>
    <div>
      <%= f.collection_select :language_id,
                              Language.all,
                              :id,
                              :language_name,
                              { prompt: "Язык", selected: "", disabled: "" },
                              { class: "form-control",
                                placeholder: "Выбор языка" } %>
    </div>
    <div>
      <%= f.collection_select :speaker_id,
                              Speaker.all,
                              :id,
                              :speaker_fio,
                              { prompt: "Спикер", selected: "", disabled: "" },
                              { class: "form-control",
                                placeholder: "Выбор спикера" } %>
    </div>
    <div>
      <%= f.collection_select :category_id,
                              Category.all,
                              :id,
                              :category_name,
                              { prompt: "Категория", selected: "", disabled: "" },
                              { class: "form-control",
                                placeholder: "Выбор категории" } %>
    </div>
    <div>
      <%= f.submit "Фильтровать", class: "btn btn-outline-secondary search" %>
    </div>
  </div>
<% end %>
