<div class="container-video">
  <div class="border rounded show-video item">
    <div class="container mb-4">
      <br>
      <h4><%= @video.video_name %></h4>
      <%= video_tag @video.video_url.to_s, controls: true, class: "video rounded" %>
    </div>
  </div>
  <div class="border rounded show-info-video item">
    <div class="container mb-4 ">
      <br>
      <h6>Дата релиза</h6>
      <p><%= @video.id %>
      <%= @video.release_date %></p>

      <%= render partial: 'dropdown' %>

      <%= render template: "video_languages/index", video: @video %>
      <%= render template: "video_tags/index", video: @video %>
      <%= render template: "video_speakers/index", video: @video %>
      <%= render template: "video_categories/index", video: @video %>
      <br><h6>Описание</h6>
      <label><%=  simple_format(@video.video_description) %></label>
      <br>
    </div>
  </div>

</div>
<div class="border rounded show-recensions">
  <div class="container mb-4">
    <br>
    <h2>Рецензии</h2>
    <%= render 'reviews/form', review: @review %>

    <% @reviews.reverse.each do |review| %>
      <div class="card">
        <div class="card-body">
          <div>
            <strong>:</strong> <%= review.user.username %>
            <small><small>(<%= review.created_at.strftime('%d %b %y %H:%M') %>)</small></small>
            <br>
            <%= simple_format(review.text) %>
            <% if review.user == current_user %>
              <div class="container-review">
                  <%= link_to "Изменить", edit_video_review_path(review.video_id, review.id), class: "btn btn-outline-danger btn-sm" %>
                  <%= button_to "Удалить", video_review_path(review.video_id, review.id), method: :delete, class: "btn btn-danger btn-sm" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
