<% if current_user&.admin? %>
  <div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><b>Добавить категории</b></button>
    <ul class="dropdown-menu">
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-country-modal'>
          Добавить страны
        </button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-genre-modal'>
          Добавить жанры
        </button>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-speaker-modal'>
          Добавить спикера
        </button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-director-modal'>
          Добавить режиссера
        </button>
      </li>
      <li>
        <button class='dropdown-item' data-bs-toggle='modal' data-bs-target='#new-screenwriter-modal'>
          Добавить сценариста
        </button>
      </li>
    </ul>
  </div>
  <br>
<% end %>

<%= render partial: 'modal', locals: { target_id: 'new-country-modal', assotiation: :film_countries, film: @film } %>
<%= render partial: 'modal', locals: { target_id: 'new-genre-modal', assotiation: :film_genres, film: @film } %>
<%= render partial: 'modal', locals: { target_id: 'new-speaker-modal', assotiation: :film_speakers, film: @film } %>
<%= render partial: 'modal', locals: { target_id: 'new-director-modal', assotiation: :film_directors, film: @film } %>
<%= render partial: 'modal', locals: { target_id: 'new-screenwriter-modal', assotiation: :film_screenwriters, film: @film } %>
