<%= form_with model: @film do |f| %>
<div class="field">
    <%= f.text_field :film_name, class: "form-control", placeholder: 'Название' %>
</div>
<%= render partial: 'films/error', locals: { film: film, attribute: :name} %>

<div class="field">
    <%= f.datetime_field :release_date, class: "form-control", placeholder: 'Дата релиза' %>
</div>
<%= render partial: 'films/error', locals: { film: film, attribute: :release_date} %>

<div class="field">
    <%= f.text_area :film_description, rows: 10, class: "form-control", placeholder: 'Описание' %>
</div>
<%= render partial: 'films/error', locals: { film: film, attribute: :film_description} %>

<div class="field">
    <%= f.label "Выберите картинку" %>
    <%= f.file_field :picture_url, class: "form-control", placeholder: 'Картинка' %>
</div>
<%= render partial: 'films/error', locals: { film: film, attribute: :picture_url} %>

<div class="field">
    <%= f.label "Выберите фильм" %>
    <%= f.file_field :film_url, class: "form-control", placeholder: 'Фильм' %>
</div>
<%= render partial: 'films/error', locals: { film: film, attribute: :film_url} %>

<p>
    <%= f.submit button, class: "btn btn-primary" %>
</p>
<% end %>
