
<div class="container mp-4 form-shadow">
  <h2 class="text-center">Изменение пароля</h2><br>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="input-group mb-3">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "Новый пароль", class: "form-control" %>
    </div>

    <div class="input-group mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Подтверждение пароль", class: "form-control"  %>
    </div>

    <div class="actions">
      <%= f.submit "Изменить пароль", class: "btn btn-primary form-button" %>
    </div>
  <% end %><br>

  <div class="text-center">
    <%= render "users/shared/links" %>
  </div>
</div>
